{
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
        "src/index.ts",
        "**/*.interface.ts",
        "**/*.spec.ts"
    ],
    "extension": [
      ".ts"
    ],
    "reporter": [
      "text-summary",
      "html"
    ],
    "all": true,
    "sourceMap": true,
    "instrument": true
  }
